
<div>
    <!--Admin navbar-->
    <div class="admin-navbar">
      <a class ="admin-navbar-btn" href ="./adminHome.php">Home</a>
      <a class ="admin-navbar-btn" href ="./adminReservation.php">All Reservations</a>
      <a class ="admin-navbar-btn" href ="./adminNewHotel.php">Add New Hotel</a>
      <button class="admin-navbar-btn pull-right" onclick="document.getElementById('admin-logout').style.display='block'">Logout</button>
    </div>
    <!-- Admin LogOut Modal -->
    <div id="admin-logout" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content" style="padding:16px">
        <div class="w3-container">
          <i onclick="document.getElementById('admin-logout').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-large"></i>
          <h2>Log Out</h2>
          <br>
          <h5>Are you sure that you want to Log out ?</h5>
          <br>
          <form method="POST" action="">          </form>
            <button class="admin-modal-btn" id="admin-logout-btn">Log out</button>
          <button class="admin-modal-btn" onclick="document.getElementById('admin-logout').style.display='none'">Cancel</button>
        </div>
      </div>
    </div>
    <!-- Display Templates-->
    <section class="hotel-modal">   
        <div class="container" id = "id"></div>
    </section>
</div>
<!-- Scripts --> 
<script type="text/javascript" src="../scripts/js/admin-home.js"></script>
