
  <body onload="hotel_div_generate()">
    <!--Admin navbar-->
    <div class="admin-navbar">
      <a class ="admin-navbar-btn" href ="./adminHome.php">Home</a>
      <a class ="admin-navbar-btn" href ="./adminReservation.php">All Reservations</a>
      <a class ="admin-navbar-btn" href ="./adminNewHotel.php">Add New Hotel</a>
      <button class="admin-navbar-btn pull-right" onclick="document.getElementById('admin-logout').style.display='block'">Logout</button>
    </div>
    <!-- Admin LogOut Modal -->
    <div id="admin-logout" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content" style="padding:16px">
        <div class="w3-container">
          <i onclick="document.getElementById('admin-logout').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-large"></i>
          <h2>Log Out</h2>
          <br>
          <h5>Are you sure that you want to Log out ?</h5>
          <br>
          <form method="POST" action="">          </form>
            <button class="admin-modal-btn" id="admin-logout-btn">Log out</button>
          <button class="admin-modal-btn" onclick="document.getElementById('admin-logout').style.display='none'">Cancel</button>
        </div>
      </div>
    </div>
    <!-- Display Templates-->
    <section class="hotel-modal">   
        <div class="container" id = "id"></div>
    </section>

    <script>
      async function getData(){
            //return await fetch('').then((response) => {
            //       return response.json();
            // })
             return [
                    { company : 'Howard Resorts', x_cord: [0], y_cord: [0] },
                    { company : 'Howard Resorts', x_cord: [0], y_cord: [1] },
                    { company : 'Howard Resorts', x_cord: [0], y_cord: [2] },
                    { company : 'Howard Resorts', x_cord: [0], y_cord: [2]}
                    ]
        }
      async function hotel_div_generate(){

            var hotelmodal_container = document.getElementById('id');
            var result = await getData();

            result.forEach(function (result) {
                var col_div = document.createElement('div');
                col_div.className = 'col-md-4';
                
                var hotel_div = document.createElement('div');
                hotel_div.classList.add("hotel-div");

                var title = document.createElement('h1');
                var hotel = document.createElement('span');
                hotel.className = 'hotel-name';
                hotel.innerText = `${result.company}`;
                title.appendChild(hotel);

                // ( i , j ) locations
                var des = document.createElement('p');
                des.className = 'hotel-descript';
                des.innerText = `Location : ${result.x_cord} street , ${result.y_cord} ave`;

                col_div.appendChild(hotel_div);
                hotel_div.appendChild(title);
                hotel_div.appendChild(des);

                hotelmodal_container.appendChild(col_div);
            })
        }
    </script>
  </body>