
<!-- side navbar for hotel -->
<div class="sidenav">
  <a href="./roomlistings.php">Hotel Homepage</a>
  <a href="">Make a Reservation</a>
  <a href="./cancelReservation.php">Cancel My Reservation</a>
  <button  onclick="document.getElementById('admin-login').style.display='block'">Administrator Login</button>
</div>

<!-- Admin Login Modal -->
<div id="admin-login" class="w3-modal w3-animate-opacity fontstyle">
    <div class="w3-modal-content" style="padding:16px;">
      <div class="w3-container">
        <i onclick="document.getElementById('admin-login').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-large"></i>
        <h2>Login as administrator</h2>
        <h4>Please enter your username and password :</h4>
        <p style="color:red" id="admin-err-msg"></p>
        <div>
          <p><input class="w3-input w3-border" type="text" id="admin-username" placeholder="Enter Username" required></p>
          <p><input class="w3-input w3-border" type="password" id ="admin-password" placeholder="Enter Password" required></p>
          <button type="button" id="admin-login-btn" onclick="AdminLogin()">Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class = "bg">
    <div>
      <div class="container">
        <div class="col-sm-offset-2 col-sm-8 cont-div">
          <h1>Cancel My Reservation</h1>
          <h4>Fill out the following informations to cancel your reservation :</h4>
          <h4 id="cancel-err-msg" style="color: red;"></h4>
          <form action="" method="POST">
              <input id ="cancel-res-id" class="fontstyle inputspace" type="text" placeholder="Reservation number" required>
              <br>
              <input id ="cancel-username" class="fontstyle inputspace" type="text" placeholder="Username" required>
              <br>
              <input id ="cancel-password" class="fontstyle inputspace" type="password" placeholder="Password" required>
              <br>
              <button class="fontstyle button" type="button"  onclick="CancelReservation()">Cancel</button>
          </form>
        </div>
      </div>
    </div>

    <script>
    function AdminLogin(){
        var admin_username = document.getElementById('admin-username').value;
        var admin_password = document.getElementById('admin-password').value;

        if( admin_username == "" || admin_password == "" ){
            document.getElementById('admin-err-msg').innerText = "Please fill in all fields"
        } else {
            $.ajax({
            method:"POST",
            url:"/admin-signin",
            processData: false,
            contentType: false,
            data : { username: admin_username , password: admin_password },
            })
            .done(function(){
                console.log(response);
                location.href = "./adminHome.php";
            })
            .fail(function(){
                console.log(response);
                document.getElementById('admin-err-msg').innerText = "Denied access."
            })
        }
    }

    function CancelReservation(){
          var res_id = document.getElementById('cancel-res-id').value;
          var username = document.getElementById('cancel-username').value;
          var password = document.getElementById('cancel-password').value;
    
          if( res_id == "" || username == "" || password == ""){
            document.getElementById('cancel-err-msg').innerText = "Please fill in all fields"
          } else if (!regexp.test(res_id)){
            document.getElementById('cancel-err-msg').innerText = "Please fill in all fields"
          } else {
             document.getElementById('cancel-err-msg').innerText = "Your reservation has been cancelled!"
             /*
              $.ajax({
              method:"POST",
              url:"/",
              processData: false,
              contentType: false,
              data: { 
                username: username, 
                password:password,
                /* res_id ???  
                },
              })
              .done(function(){
                document.getElementById('cancel-err-msg').innerText = "Your reservation has been cancelled!"
              })
              .fail(function(){
                document.getElementById('cancel-err-msg').innerText = "ajax Unknown Errors"
              })*/
          }
        }
    </script>

