<!DOCTYPE html>
<html>
  <head>
    <title>Create New Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/createAccountStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

  <body class = "bg">
    <div>
      <div class="container">
        <div class="col-sm-offset-3 col-sm-6 cont-div">

          <h1>Create New Account</h1>
          <h4>Fill out the following informations to create an new account :</h4>
        
          <form action="">
              <input class="fontstyle inputspace" type="text" placeholder="Username" required>
              <br>
              <input class="fontstyle inputspace" type="password" placeholder="Password" required>
              <br>
              <input class="fontstyle inputspace" type="password" placeholder="Confirm Password" required>
              <br>
              <button class="fontstyle button" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
