<!DOCTYPE html>
<html>
  <head>
    <title>Create New Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/createAccountStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

  <body class = "bg">
    <div>
      <div class="container">
        <div class="col-sm-offset-3 col-sm-6 cont-div">

          <h1>Create New Account</h1>
          <h4>Fill out the following informations to create an new account :</h4>
        
          <form action="" method="POST">
              <input id="username" class="fontstyle inputspace" type="text" placeholder="Username" required>
              <br>
              <input id="password" class="fontstyle inputspace" type="password" placeholder="Password" required>
              <br>
              <!--<input class="fontstyle inputspace" type="password" placeholder="Confirm Password" required>
              <br>-->
              <button class="fontstyle button" type="button" onclick="SignUp()">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </body>
<script>
  function SignUp(){
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
      $.ajax({
        method:"POST",
        url:"/signup",
        data:{username:username,password:password},
        })
        .done(function(){
          alert("success !");
        })
        .fail(err=>console.log(err))
    }
</script>
</html>
