<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="./css/customerstyle.css" rel="stylesheet" />
        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Be Vietnam' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet'>
        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    </head>
    <body onload="reservations_generate()">
        <header class="banner">
            <div class="container">
                <div class="banner-heading">My Reservations</div>
            </div>
        </header>   
        <div class="container" id="reservations">
        </div>
    </body>

    <script type="text/javascript">
        function getData(){
        /*
            fetch( php url )
               .then((response) => {
                  return response.json();
                })
        */
        
        // for display testing  only ....
            return [
                    { res_id: '001001',username:'john', name : 'hoteel name 1', x_coord: [0], y_coord: [0] ,class :'cheap',price:[399],res_start:'2020-04-01',res_end:'2020-04-02'},
                    { res_id: '101111',username:'david', name : 'hoteel naaaaaame 2', x_coord: [1], y_coord: [0] ,class :'deluxe',price:[699],res_start:'2020-05-01',res_end:'2020-05-06'},
                    { res_id: '201222',username:'mike', name : 'hoteel nameaaaa 3', x_coord: [0], y_coord: [1] ,class :'suite',price:[999],res_start:'2020-05-11',res_end:'2020-05-22'},
                ]
        }

        async function reservations_generate(){

            var cont = document.getElementById('reservations');
            var result = await getData();

            result.forEach(function (result) {
                var res_div = document.createElement('div');
                res_div.className = 'col-sm-offset-1 col-sm-10 reservation-div';
                
                var res_id = document.createElement('h3');
                var username = document.createElement('h4');
                res_id.innerText = `Reservation Number : ${result.res_id}`;
                username.innerText = `${result.username}`;

                var left_div = document.createElement('div');
                left_div.className ='col-sm-6';
                var hotel_name = document.createElement('p');
                var hotel_cords = document.createElement('p');
                var room = document.createElement('p');
                hotel_name.innerText = `${result.name}`;
                hotel_cords.innerText = `Location : ${result.x_coord} street , ${result.y_coord} ave`;
                room.innerText = `Room Type : ${result.class}`;
                left_div.appendChild(hotel_name);
                left_div.appendChild(hotel_cords);
                left_div.appendChild(room);

                var right_div = document.createElement('div');
                right_div.className = 'col-sm-6';
                var check_in = document.createElement('p');
                var check_out = document.createElement('p');
                check_in.innerText = `Check In Date : ${result.res_start}`;
                check_out.innerText = `Check Out Date : ${result.res_end}`;
                right_div.appendChild(check_in);
                right_div.appendChild(check_out);

                var price_div = document.createElement('div');
                price_div.className = 'price';
                var price = document.createElement('p');
                price.innerText = `Price : $ ${result.price}`;
                price_div.appendChild(price);

                // Append all div in containter...
                res_div.appendChild(res_id);
                res_div.appendChild(username);
                res_div.appendChild(left_div);
                res_div.appendChild(right_div);
                res_div.appendChild(price_div);
                cont.appendChild(res_div);
            })
        }
    </script>

</html>