<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/homestyle.css">
        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet'>
        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body onload="hotel_div_generate();">
        <section class="hotel-modal">   
            <div class="container" id = "id"></div>
        </section>

    </body>
    
    <script type="text/javascript">
        function getData(){
        /*
            fetch('./routes.php')
               .then((response) => {
                   return response.json();
             })
*/
         // for testing  only ..
            return [
                    { name: 'hotel name 1', franchise: { name: 'Franchise 1'}, x_cord: [0], y_cord: [0] },
                    { name: 'hotel name 2', franchise: { name: 'Franchise 1'}, x_cord: [0], y_cord: [1] },
                    { name: 'hotel name a', franchise: { name: 'Franchise 2'}, x_cord: [1], y_cord: [0] },
                    { name: 'hotel name b', franchise: { name: 'Franchise 2'}, x_cord: [1], y_cord: [1] },
                ]
        }
        async function hotel_div_generate(){

            var hotelmodal_container = document.getElementById('id');
            var result = await getData();

            result.forEach(function (result) {
                var col_div = document.createElement('div');
                col_div.className = 'col-md-4';
                
                var hotel_div = document.createElement('div');
                hotel_div.classList.add("hotel-div");

                var title = document.createElement('h1');
                var franchise = document.createElement('span');
                franchise.className = 'franchise';
                var hotel = document.createElement('span');
                hotel.className = 'hotel-name';

                // franchise name and hotel name 
                franchise.innerText = `${result.name}`;
                hotel.innerText = `${result.franchise.name}`;
            
                title.appendChild(franchise);
                title.appendChild(hotel);

                // ( i , j ) locations
                var des = document.createElement('p');
                des.className = 'hotel-descript';
                des.innerText = `Location : ${result.x_cord} street , ${result.y_cord} ave`;
            
                // Visit Us button 
                var btn_padding = document.createElement('div');
                btn_padding.className ='button-padding';
                var btn = document.createElement('a');
                btn.className ="button button-text";
                btn.href = "./hotel.php"
                btn.innerHTML ="Visit Us";
                btn_padding.appendChild(btn);

                col_div.appendChild(hotel_div);
                hotel_div.appendChild(title);
                hotel_div.appendChild(des);
                hotel_div.appendChild(btn_padding);

                hotelmodal_container.appendChild(col_div);
            })
        }
    </script>

</html>