<!DOCTYPE html>
<html>
<body>
  <title> Hotel B </title>
  <link rel="stylesheet" href="public/css/hotelroom.css">
  
  <h1>Hotel B Rooms & Rates</h1>
  
  <!-- Hotel B -->
  <div id="hotelb">
   <div id= "bdexlue">
    <p> Room Type: Deluxe</p>  
    <p> Room Rate: $170/night</p>
   </div>
   
    <div id= "bregular">
      <p>Room Type: Regular</p>
      <p>Room Rate: $80/night</p>
    </div>
    
    <div id="bcheap">
      <p>Room Type: Cheap</p>   
      <p>Room Rate: $55/night</p>
    </div>
    
  </div>
  
  <div id="hotelbreservations">
    
  </div>
  
  
</body>  
</html>
