<!DOCTYPE html>
<html>
<body>
  <title> Hotel A </title>
  <link rel="stylesheet" href="public/css/hotelroom.css">
  
  <h1>Hotel Rooms & Rates</h1>
  
  <!-- Hotel A -->
  <div id="hotela">
    <h2>Hotel A</h2>
    <table id="a">
      <tr>
       <th>Room Type</th>       
        <th>Price</th>
      </tr>
      <tr>
        <td><div id="deluxe">Deluxe</div></td>
        <td><div id="room1">3</div></td>        
        <td><div id="dprice">$180/night</div></td>
      </tr>
      <tr>
        <td><div id="regular">Regular</div></td>
        <td><div id ="rprice">$90/night</div></td>
      </tr>
      <tr>
        <td><div id="cheap">Cheap</div></td>   
        <td><div id="cprice">$65/night</div></td>
      </tr>
    </table>
  </div>
  
  
</body>  
</html>
