<!DOCTYPE html>
<html>
<body>
  <title> Hotel A </title>
  <link rel="stylesheet" href="public/css/hotelroom.css">
  
  <h1>Hotel A Rooms & Rates</h1>
  
  <!-- Hotel A -->
  <div id="hotela">
   <div id= "adexlue">
    <p> Room Type: Deluxe</p>  
    <p> Room Rate: $180/night</p>
   </div>
   
    <div id= "aregular">
      <p>Room Type: Regular</p>
      <p>Room Rate: $90/night</p>
    </div>
    
    <div id="acheap">
      <p>Room Type: Cheap</p>   
      <p>Room Rate: $65/night</p>
    </div>
    
  </div>
  
  <div id="hotelareservations">
    
  </div>
  
  
</body>  
</html>
