<!DOCTYPE html>
<html>
<body>
  <title> Hotel 2 </title>
  <link rel="stylesheet" href="public/css/hotelroom.css">
  
  <h1>Hotel 2 Rooms & Rates</h1>
  
  <!-- Hotel 2 -->
  <div id="hotel2">
   <div id= "2dexlue">
    <p> Room Type: Deluxe</p>  
    <p> Room Rate: $190/night</p>
   </div>
   
    <div id= "2regular">
      <p>Room Type: Regular</p>
      <p>Room Rate: $95/night</p>
    </div>
    
    <div id="2cheap">
      <p>Room Type: Cheap</p>   
      <p>Room Rate: $70/night</p>
    </div>
    
  </div>
  
  <div id="hotel2reservations">
    
  </div>
  
  
</body>  
</html>
