<!DOCTYPE html>
<html>
<body>
  <title> Hotel Rooms </title>
  <link rel="stylesheet" href="public/css/hotelroom.css">
  
  <h1>Hotel Rooms & Rates</h1>
  
  <!-- Hotel A -->
  <div id="hotela">
    <h2>Hotel A</h2>
    <table id="a">
      <tr>
       <th>Room Type</th> 
        <th>No. of Rooms</th>        
        <th>Price</th>
      </tr>
      <tr>
        <td><div id="deluxe">Deluxe</div></td>
        <td><div id="room1">3</div></td>        
        <td><div id="dprice">$180/night</div></td>
      </tr>
      <tr>
        <td><div id="regular">Regular</div></td>
        <td><div id="room2">8</div></td>        
        <td><div id ="rprice">$90/night</div></td>
      </tr>
      <tr>
        <td><div id="cheap">Cheap</div></td>
        <td><div id="room3">6</div></td>     
        <td><div id="cprice">$65/night</div></td>
      </tr>
    </table>
  </div>
  
  <!-- Hotel B -->
  <div id="hotelb">
    <h2>Hotel B</h2>
    <table id="b">
      <tr>        
        <th>Room Type</th>
        <th>No. of Rooms</th>
        <th>Price</th>
      </tr>
      <tr>
        <td><div id="deluxe">Deluxe</div></td>
        <td><div id="room1">5</div></td>       
        <td><div id="dprice">$170/night</div></td>
      </tr>
      <tr>
        <td><div id="regular">Regular</div></td>
        <td><div id="room2">9</div></td>        
        <td><div id ="rprice">$85/night</div></td>
      </tr>
      <tr>
        <td><div id="cheap">Cheap</div></td>
        <td><div id="room3">10</div></td>        
        <td><div id="cprice">$55/night</div></td>
      </tr>
    </table>
  </div>

  <!-- Hotel C -->
   <div id="hotelc">
    <h2>Hotel C</h2>
    <table id="b">
      <tr>        
        <th>Room Type</th>
        <th>No. of Rooms</th>
        <th>Price</th>
      </tr>
      <tr>
        <td><div id="deluxe">Deluxe</div></td>
        <td><div id="room1">7</div></td>       
        <td><div id="dprice">$185/night</div></td>
      </tr>
      <tr>
        <td><div id="regular">Regular</div></td>
        <td><div id="room2">5</div></td>        
        <td><div id ="rprice">$80/night</div></td>
      </tr>
      <tr>
        <td><div id="cheap">Cheap</div></td>
        <td><div id="room3">6</div></td>        
        <td><div id="cprice">$50/night</div></td>
      </tr>
    </table>
  </div>
  
</body>  
</html>
