<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/navbarstyle.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
  <div class="navbar navfont">
    <a href="#home"><input id="currentDate" type="date" value="" onChange="setDate(this.value);"/></a>
    <a class ="loginbtn" href ="./index.php">Home</a>
    <button class="loginbtn" onclick="document.getElementById('login').style.display='block'">Login</button>  
    
    <!-- Search Engine Filter -->
    <div class="dropdown">
    <button class="dropbtn" id ="b" onclick="searchFilter()">Search Engine
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="searchFilter">
      <form action="searchresult.php" method="POST">
        <p>Franchise</p>
        <input type="checkbox"  name="FirstSelector[]" value="Marriott"> Marriott
        <input type="checkbox"  name="FirstSelector[]" value="Hilton"> Hilton
        <input type="checkbox"  name="FirstSelector[]" value="Hyatt"> Hyatt
        <input type="checkbox"  name="FirstSelector[]" value="Wyndham"> Wyndham
        <input type="checkbox"  name="FirstSelector[]" value="Radisson"> Radisson
        <p>Type of Room</p>
        <input type="checkbox" name="SecondSelector[]" value="Cheap"> Cheap
        <input type="checkbox" name="SecondSelector[]" value="Regular"> Regular
        <input type="checkbox" name="SecondSelector[]" value="Deluxe"> Deluxe
        <p>Price Range Per Night</p>
        <input type="checkbox" name="ThirdSelector[]" value="000 and 099"> 000-099
        <input type="checkbox" name="ThirdSelector[]" value="100 and 199"> 100-199
        <input type="checkbox" name="ThirdSelector[]" value="200 and 299"> 200-299
        <input type="checkbox" name="ThirdSelector[]" value="300 and 399"> 300-399
        <p></p>
        <input type="checkbox" name="FourthSelector" value="0"> Show Available Only
        <p></p>
        <input type="submit" id="searchButton" value="search" >
      
      </form>
     </div>
    </div> 
  </div>
  <!-- Login Pop Up Modal -->
  <div id="login" class="w3-modal w3-animate-opacity navfont">
    <div class="w3-modal-content" style="padding:16px;">
      <div class="w3-container">
        <i onclick="document.getElementById('login').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-large"></i>
        <h2 class="w3-wide navfont">Login</h2>
        <p>Login with your username and password :</p>
        <div>
          <p><input class="w3-input w3-border" type="text" id="username" placeholder="Enter Username" required></p>
          <p><input class="w3-input w3-border" type="password" id ="password" placeholder="Enter Password" required></p>
          <button type="button" class="navButton" id="login-btn" onclick="Signin()">Login</button> <button class="navButton" id="signup-btn">No account ? Sign up!</button>
        </div>
      </div>
    </div>
  </div>

<script>
/*
    function searchFilter() {
      document.getElementById("searchFilter").classList.toggle("show");
    }

    window.onclick = function(e) {
      if (!document.getElementById('searchFilter').contains(e)) {
      var myDropdown = document.getElementById("searchFilter");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
*/
    function Signin(){
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
      $.ajax({
        method:"POST",
        url:"/signin",
        data:{username:username,password:password},
        })
        .done(function(){
          location.href = "/reservations";
        })
        .fail(function(){
          alert("invalid username or password");
        })
    }

    document.getElementById("signup-btn").onclick = function () {
        location.href = "./signUp.php";
    };

    document.getElementById("searchButton").onclick = function () {
        location.href = "./index.php";
    };

    /*
        var currentDate;
        function setDate(val) {
            currentDate = val;
        }
    */
</script>



</body>
</html>