@font-face{
    font-family: personalFont;
    src: url(BarlowCondensed-Regular.woff);
  }

  body{
      background-image: url("public/img/hotelroombg.jpg");
      font-family: personalFont;
      text-align: center;
  }
  
  h1{
    font-size: 40px;
  }

  #hotela, #hotelb, #hotel1, #hotel2{
    background-color: white; 
    opacity: 0.5;
    font-size: 25px;
    float: left;
  }

  #hotela:hover, #hotelb:hover, #hotel1:hover, #hotel2:hover{
    background-color: #f5f5f5;
  }

#hotelareservations, #hotelbreservations, #hotel1reservations, #hotel2reservations{
    background-color: white; 
    float: right;
}
