@font-face{
    font-family: personalFont;
    src: url(fonts/BarlowCondensed-Regular.woff);
  }

  body{
      background-image: url("public/img/hotelroombg.jpg");
      font-family: personalFont !important;
  }
  
  h1{
    font-size: 40px !important;
  }

  #hotela, #hotelb, #hotel1, #hotel2{
    background-color: white; 
    opacity: 0.5;
    font-size: 25px;
    float: left;
  }

  #hotela:hover, #hotelb:hover, #hotel1:hover, #hotel2:hover{
    background-color: #f5f5f5;
  }

#hotelareservations, #hotelbreservations, #hotel1reservations, #hotel2reservations{
    background-color: white; 
    float: right;
    
}

.sidenav {
  font-family: 'Arapey';
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 8rem ;
  left: 10px;
  background: rgb(228, 228, 228);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: block;
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background: rgb(228, 228, 228);
  border: none;
  display: block;
  text-align: left;
}

.sidenav a:hover , .sidenav button:hover{
  color: #5bb2f8;
}

.main {
  margin-left: 200px;
  padding: 0px 15px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fontstyle {
  font-family: 'Arapey';
}

#calComp{
  overflow: hidden;
  position: fixed;
  width: 30vw !important;
  right: 5vw;

}

.fc-header-toolbar {
  /*
  the calendar will be butting up against the edges,
  but let's scoot in the header's buttons
  */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}