.navbar {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar .loginbtn {
  padding: 15px 16px;
  float: left;
  background-color: #333;
  color : white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border:none;
}

#currentDate {
  color: black;
  float: left;
  height: 52px;
}

.dropdown {
  display: block;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 15px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus ,.loginbtn:hover{
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  left :240px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#searchFilter {
  padding: 25px 25px;
  color: #111;
  font-weight: 100;
}

#searchFilter p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#searchButton {
  float: right;
  font-size: 15px;
  padding: 5px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: red;
  color: #eee;
}