<IfModule mod_rewrite.c> 
RewriteEngine On

# Disable directory browsing
Options All -Indexes

# Explicitly enable per-directory rewrites in the .htaccess context.
Options +FollowSymLinks  -MultiViews

RewriteCond %{SCRIPT_FILENAME} !-d 
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ ./routes.php [NC,L,QSA]

</IfModule>

