<?php
    define ('DB_HOST',  'h40lg7qyub2umdvb.cbetxkdyhwsb.us-east-1.rds.amazonaws.com	' );
    define ('DB_PORT',   3306 ); 
    define ('DB_USER',  'l9dxt4sc1h4h2c6l' );
    define ('DB_PASS',  'k2ij3ppjcyd9z3yp' );
    define ('DATABASE', 'oruywq5eue49pjsi' );
    define ('DSN', 'mysql:host='.DB_HOST.';'
                   .'port='.DB_PORT.';'
                   .'dbname='.DATABASE.';'
                   .'charset=utf8');
