<?
    $dbHost     = "";   // Database endpoint. 
    $port       = 3306; // default port 
    $dbUser     = "";   // Username. 
    $dbPass     = "";   // Password.
    $schema     = "";   // Database to use 
?> 