<?php
    namespace database; 
    define ('DB_HOST',  '' );
    define ('DB_PORT',    ); 
    define ('DB_USER',  '' );
    define ('DB_PASS',  '' );
    define ('DATABASE', '' );
    define ('DSN', 'mysql:host='.DB_HOST.';'
                   .'port='.DB_PORT.';'
                   .'dbname='.DATABASE.';'
                   .'charset=utf8');
